<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All addresses
    </h1>

    <a href="/addresses/new" class="btn btn-block btn-outline-secondary">
      Add a new address
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "address_templates/addresses_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Country
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @addresses.each do |address| %>
      <tr>
        <td>
          <%= address.id %>
        </td>

        <td>
          <% if address.country.present? %>
            <a href="/countries/<%= address.country.id %>">
              <%= address.country.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(address.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(address.updated_at) %> ago
        </td>

        <td>
          <a href="/addresses/<%= address.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @addresses, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
