<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All countries
    </h1>

    <a href="/countries/new" class="btn btn-block btn-outline-secondary">
      Add a new country
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @countries.each do |country| %>
      <tr>
        <!-- Display country.id start -->
        <td>
          <%= country.id %>
        </td>
        <!-- Display country.id end -->

        <!-- Display country.name start -->
        <td>
          <%= country.name %>
        </td>
        <!-- Display country.name end -->

        <!-- Display country.created_at start -->
        <td>
          <%= time_ago_in_words(country.created_at) %> ago
        </td>
        <!-- Display country.created_at end -->

        <!-- Display country.updated_at start -->
        <td>
          <%= time_ago_in_words(country.updated_at) %> ago
        </td>
        <!-- Display country.updated_at end -->

        <td>
          <a href="/countries/<%= country.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
